.bz-input-number-wrapper{
    position: relative;
    width:200px;
}
.bz-input-number-wrapper input{
    width:100%;
    padding-right: 20px;
    min-height: 30px;
    padding-left:5px;
    border: 2px solid #
}
.bz-input-number-wrapper i.up{
    position: absolute;
    top:0px;
    right:10px;
}
.bz-input-number-wrapper i.down{
    position: absolute;
    bottom: 0px;
    right:10px;
}
.bz-input-number-wrapper i.up:hover,
.bz-input-number-wrapper i.down:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.bz-input-number-wrapper input.main-input::-webkit-outer-spin-button,
.bz-input-number-wrapper input.main-input::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin: 0;
}
.bz-input-number-wrapper input.main-input{
    -moz-appearance:textfield;
}
